:root {
  --heading: #b97a95;
  --subHeading: #716f81;
  --secondary: #716f81;
  --value: #f6ae99;
  --bg: #f6f7f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html.dark {
  --heading: #f2e1c1;
  --subHeading: #f6f7f8;
  --secondary: #fff;
  --value: #f6ae99;
  --bg: #716f81;
}

body {
  background-color: var(--bg);
  font-family: 'Roboto Mono', monospace;
  font-size: 17px;
  text-transform: uppercase;
  padding: 30px 0.75rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.icon {
  stroke-width: 1;
  stroke: var(--heading);
}

.location {
  justify-content: center;
  margin-bottom: 45px;
}

.location__value {
  color: var(--subHeading);
}

.info-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 360px;
  width: 100%;
}

.info-item__heading-container,
.location {
  display: flex;
  align-items: center;
  gap: 15px;
}

.info-item__heading-container {
  margin-left: 1em;
}

.info-item__heading {
  font-weight: 300;
  letter-spacing: 1em;
  color: var(--heading);
  width: max-content;
}

.info-item__multiple {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.info-item__value,
.small-item__value {
  color: var(--value);
  line-height: 20px;
}

.temp-font {
  font-size: 70px;
  line-height: 55px;
}

.small-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
.small-item__heading {
  color: var(--subHeading);
}

.loader {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

.error__value {
  color: var(--value);
  text-align: center;
}

.toggle-theme__wrapper {
  display: flex;
  align-items: center;
  gap: 4px;
  text-transform: capitalize;
  font-size: 14px;
}

.toggle-theme__label .sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.toggle-theme__heading {
  color: var(--subHeading);
}

.toggle-theme__label input {
  position: absolute;
  display: none;
}

.toggle-theme__label input:checked ~ .toggle-theme__bg {
  --toggleBg: #f6f7f8;
}

.toggle-theme__bg {
  --toggleBg: #716f81;
  --toggleFg: #f6ae99;

  width: 44px;
  height: 24px;
  background-color: var(--toggleBg);
  border-radius: 999px;
  position: relative;
}

.toggle-theme__bg::after {
  position: absolute;
  content: '';
  width: 18px;
  height: 18px;
  background-color: var(--toggleFg);
  border-radius: 999px;
  top: 3px;
  left: 3px;
  transition: all 150ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.toggle-theme__label input:checked ~ .toggle-theme__bg::after {
  transform: translateX(20px);
}

.powered-by {
  color: var(--subHeading);
}

.powered-by__link {
  color: var(--heading);
  text-decoration: none;
}
